.product-list2 {
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    gap: 20px;
  }
  
  @media (max-width: 768px) {
    .product-list2 {
      grid-template-columns: repeat(2, 1fr); 
    }
  }
  
  @media (max-width: 480px) {
    .product-list2 {
      grid-template-columns: 1fr; 
    }
  }